<h2><%= pluralize(flash[:error].count, "error") %> prohibited this holding_location from being saved:</h2>
<ul>
	<% flash[:error].each do |message| %>
		<li><%= message.html_safe %></li>
	<% end %>
</ul>