<h1>Course Reserves Item</h1>

<p>Copies of this item are available at the
  <a href="http://library.princeton.edu/<%= @map.lib.code %>/services/course-reserves">
  reserve location in the <%= @map.lib.label %></a>. Please contact the circulation desk
  in the <%= @map.lib.label %> with additional questions.</p>
